.layout {
	width: $layout-width;
	min-height: 100vh;
	margin: 0 auto;
	padding: $indent;
	border: 1px solid $color-border;

	&__header {
		display: flex;
		justify-content: space-between;

		margin-bottom: $indent * 2;
	}

	&__selected {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-content: baseline;
		padding: $indent $indent $indent * 4 $indent;
		width: 300px;
		min-height: 300px;
		border: 2px solid $color-border;

		strong {
			position: absolute;
			bottom: $indent;
			left: 50%;
			transform: translateX(-50%);
		}

		.product-item {
			margin: 0 $indent $indent 0;
		}

		&--unique {
			padding: $indent;

			.product-item {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				margin: 0;
			}
		}
	}

	&__body {
		display: flex;
		justify-content: space-between;

		min-height: calc(100vh - 300px - $indent * 5);
	}

	&__col {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: baseline;
		width: 49%;
		padding: $indent;
		border: 2px solid $color-border;

		.product-item {
			margin-bottom: $indent;
			cursor: pointer;
		}
	}
}
