<script setup lang="ts">
import type { IProductItem } from "@/interfaces";

defineProps<{
	propData: IProductItem;
}>();
</script>

<template lang="pug">
.product-item 
  .product-item__name {{propData.name}}
</template>

<style lang="scss">
@import "@/assets/scss/variables.scss";

.product-item {
	width: 100px;
	border: 2px solid $color-border;
	padding: $indent;
	text-align: center;
}
</style>
