<script setup lang="ts">
import ProductItem from "./components/product-item/ProductItem.vue";
import type { IProductItem } from "@/interfaces";
import { useProductsStore, useProductsUniqueStore } from "./stores";

const onClickProduct = (product: IProductItem) => {
	useProductsStore().fillSelected(product);
};

const onClickProductUnique = (product: IProductItem) => {
	useProductsUniqueStore().selected = product;
};
</script>

<template lang="pug">
.layout

	.layout__header
		.layout__selected
			ProductItem(
				v-for="item in useProductsStore().selected"
				:key="item.id"
				:propData="item")
			strong.
				selected: {{useProductsStore().selected.size}} / 6
		.layout__selected.layout__selected--unique
			ProductItem(
				v-if="useProductsUniqueStore().selected"
				:propData="useProductsUniqueStore().selected")

	.layout__body
		.layout__col
			ProductItem(
				v-for="item in useProductsStore().products"
				:key="item.id"
				:propData="item"
				@click="onClickProduct(item)")
		.layout__col
			ProductItem(
				v-for="item in useProductsUniqueStore().products"
				:key="item.id"
				:propData="item"
				@click="onClickProductUnique(item)")
</template>
